
#student-list-table{
    width: 100%;
    border-collapse: collapse;
    /* overflow-x: auto; */
}

#student-list-table th{
    width: max-content;
    text-wrap: nowrap !important;
}

#student-list-table td{
    padding: 10px;
    border-bottom: 1px solid var(--light-gray);
    text-wrap: nowrap !important;
    min-width: max-content !important;
}

#student-list-table tbody td{
    border-bottom: 1px solid #e2e2e2;
}

#student-list-table tbody tr:hover{
    background: var(--bluish-gray);
    font-weight: 500;
    transition: 0.1s ease-out;
}
