.card-container{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-card{
    width: 100%;
    max-width: 400px;
    height: max-content;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    background: #f5f5f5;
}

/* Modal Variant */
.form-card.form-card-modal{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    z-index: 10000;
    isolation: isolate;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1),
                0px 0px 0px 100vmax rgba(0, 0, 0, 0.5);
}

.form-card-modal{
    max-height: calc(100vh - 8%);
    overflow-y: auto;
}

#main:has(.form-card-modal.show-block){
    overflow: hidden !important;
}

.form-card > .form-header{
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px 0;
    padding: 16px;
}

.form-header > h2{
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 1.2;
}

.form-header > p{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}

.form-card form{
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px 0;
    padding: 16px;
}

form .form-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.form-fields .form-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px 0;
} 

.form-field .field-message{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    display: none;
    color: red;
}

.form-field:has(.invalid-field) .field-message{
    display: block;
}

.form-field .form-input{
    width: 100%;
    display: block;
    border: none;
    padding: 6px 8px;
    border-radius: 0px;
}

.form-input::placeholder{
    font-size: 14px;
    font-weight: 500;
}

.form-field .form-select{
    width: 100%;
    display: block;
    outline: none;
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    background: inherit !important;
}

form .submit-btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.submit-btn-wrapper > .submit-btn{
    width: 100%;
}

.form-card .form-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px 0;
}

.form-footer > .footer-item{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--text-dark);
}

.form-footer > .footer-item > a{
    color: var(--text-dark);
}
